*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana;
}
body{
    background-color: #d9d9d9;
}

.logo{
    /*chỉnh logo*/
    color: white;
    letter-spacing: 5px;
    padding-left: 50px;
}
h3{
    font-weight: bold;
}
a:hover{
    text-decoration: none;
                color: white;
}
.navbar-nav{
    padding-right: 50px;
    height: 50px;
}
li{
    /*chỉnh khoảng cách menu */
     margin-right: 30px;
}
.nav-link{
    color: white;
}

